@import "../../node_modules/tailwindcss";

/* src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-background: #e3dcc1;
  --color-foreground: #E6E5E0;
  --color-text-lighter: #FFFFFF;
  --color-bg-secondary: #3A3935;
  --color-bg-darker: #1F1E1B;
  --color-primary: #667A44;
  --color-primary-light: #8CA360;
  --color-accent: #B26B49;
  --color-accent-light: #D28F68;
  --color-accent-sidebar: #35332E;
}


.dark {
  --color-background: #0a090d;
  --color-foreground: #e6e8e3;
  --color-bg-secondary: #121113;
  --color-bg-darker: #070608;
  --color-primary: #4c4e30;
  --color-primary-light: #61673e;
  --color-accent: #a97f52;
  --color-accent-light: #c1915d;
  --color-accent-sidebar: #1b1b1b;
  --color-text-lighter: #ffffff;
}

.dracula {
  /* Tema escuro - Dracula */
  --color-background: #282a36; /* Fundo escuro roxo/acinzentado */
  --color-foreground: #f8f8f2; /* Texto claro */
  --color-bg-secondary: #44475a; /* Painéis secundários */
  --color-bg-darker: #21222c; /* Fundo mais escuro */
  --color-primary: #6272a4; /* Azul acinzentado */
  --color-primary-light: #8be9fd; /* Azul claro para destaques */
  --color-accent: #ff79c6; /* Rosa neon */
  --color-accent-light: #ff92d0; /* Rosa mais claro */
  --color-text-lighter: #f8f8f2; /* Texto em destaque */
  --color-accent-sidebar: #373844;
}

body {
  /* Usa a variável para que o fundo mude automaticamente */
  background-color: var(--color-background);
  color: var(--color-foreground);
}

/* O resto do seu CSS customizado pode continuar aqui */

@theme {
  --color-background: #0a090d;
  --color-foreground: #e6e8e3;
  --color-bg-darker: #070608;
  --color-bg-secondary: #121113;
  --color-primary: #4c4e30;
  --color-primary-light: #61673e;
  --color-accent: #a97f52;
  --color-accent-light: #c1915d;
  --color-text-lighter: #ffffff;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a090d;
    --foreground: #e6e8e3;
  }
}

body {
  @apply bg-[#0a090d] text-[#e6e8e3];
}

.control-range {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 6px;
  background: var(--color-primary);
  border-radius: 3px;
  outline: none;
}

.control-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: var(--color-accent);
  border-radius: 50%;
  cursor: pointer;
}

.control-range::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: var(--color-accent);
  border-radius: 50%;
  cursor: pointer;
}

/* Tamanhos de Fonte para acessibilidade */
:root.text-small {
  font-size: 14px; /* Pequeno */
}

:root.text-medium {
  font-size: 16px; /* Padrão */
}

:root.text-giga {
  font-size: 18px; /* Grande */
}