@import "../../node_modules/tailwindcss";

@theme {
  --color-background: #0a090d;
  --color-foreground: #e6e8e3;
  --color-bg-darker: #070608;
  --color-bg-secondary: #121113;
  --color-primary: #4c4e30;
  --color-primary-light: #61673e;
  --color-accent: #a97f52;
  --color-accent-light: #c1915d;
  --color-text-lighter: #ffffff;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a090d;
    --foreground: #e6e8e3;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#0a090d] text-[#e6e8e3];
}

.control-range {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 6px;
  background: var(--color-primary);
  border-radius: 3px;
  outline: none;
}

.control-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: var(--color-accent);
  border-radius: 50%;
  cursor: pointer;
}

.control-range::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: var(--color-accent);
  border-radius: 50%;
  cursor: pointer;
}