.piano-roll-grid {
    border-collapse: collapse;
    width: 100%;
  }
  
  .piano-roll-cell {
    border: 1px solid #444;
    height: 30px;
    min-width: 2rem;
    width: 10rem;
    padding: 0;
    text-align: center;
    cursor: pointer;
    color: #2a2a2a;
  }
  
  .piano-roll-cell.selected {
    background-color: #8BAB44;
  }