.piano-roll-grid {
    border-collapse: collapse;
    width: max-content;
    overflow-x: auto;
}
  
.piano-roll-cell {
    border: 1px solid var(--bg-darker);
    height: 30px;
    min-width: 120px;
    width: 100px;
    padding: 0;
    text-align: center;
    cursor: pointer;
    color: var(--foreground);
    background-color: var(--bg-secondary);
}
  
.piano-roll-cell.selected {
    transition: all 100ms ease-in-out;
    background-color: var(--accent);
}

.piano-roll-cell {
    transition: background-color 0.1s ease;
}

.piano-roll-cell.active-col {
    background-color: var(--primary);
}

.piano-roll-cell.super-selected {
  background-color: #FF9800; 
  color: white;
}

.subnote.separated {
    background-color: rgba(255, 152, 0, 0.5); /* laranja mais apagado */
}
